# Unity .gitignore file.
.DS_Store
Library
Library/*
ProjectSettings/QualitySettings.asset
Assets/UnityVS
Assets/UnityVS/*
TestBuild
*.csproj
*.sln
*.suo
*.userprefs
Temp
*.pidb
Build
*.unityprog
*.unityproj
/obj/Debug/Assembly-CSharp-Editor.dll
/obj/Debug/Assembly-CSharp-Editor.pdb
/obj/Debug/Assembly-CSharp.dll
/obj/Debug/Assembly-CSharp.pdb
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/UnityVS.DehrgadaNew.CSharp.csproj.FileListAbsolute.txt
/obj/Debug/UnityVS.DehrgadaNew.CSharp.csprojResolveAssemblyReference.cache
/obj/Debug/UnityVS.DehrgadaNew.CSharp.Editor.csproj.FileListAbsolute.txt
/obj/Debug/UnityVS.DehrgadaNew.CSharp.Editor.csprojResolveAssemblyReference.cache
/UnityVS.DehrgadaNew.sln.DotSettings
/obj/Debug/build.force
